@font-face {
  font-family: starwars;
  src: url("fonts/starjedi/Starjedi.ttf");
}

h1 {
  font-family: 'starwars';
}

h2 {
  font-family: 'starwars';
}

#placeholder {
  height: 200px;
  width: 200px;
}

.hide {
  opacity: 0;
}

#userHeart1 {
  height: 50px;
  width: 50px;
}

#userHeart2 {
  height: 50px;
  width: 50px;
}

#userHeart3 {
  height: 50px;
  width: 50px;
}

#computerHeart1 {
  height: 50px;
  width: 50px;
}

#computerHeart2 {
  height: 50px;
  width: 50px;
}

#computerHeart3 {
  height: 50px;
  width: 50px;
}

body {
  background: url(imgs/spacebg.jpg) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}

.flip {
  transform: rotateY(180deg);
}

.buttons {
  height: 200px;
  width: 200px;
}

input::placeholder {
  color: white;
}

input[type="text"] {
  font-size: 24px;
  font-family: "starwars", serif;
  font-weight: 700;
  font-style: normal;
}

input[type="text"]:active {
  font-size: 24px;
  font-family: "starwars", serif;
  font-weight: 700;
}

input[type="text"]:active {
  font-size: 24px;
  font-family: "starwars", serif;
  font-weight: 700;
  font-style: normal;
}


.form-label {
  font-family: "starwars";
  color: white;
}

.big {
  height: 85vh;
  width: 100vw;
}

#heading {
  font-size: 200px;
  font-family: 'starwars';
}

.btn {
  font-family: "starwars";
  color: white;
  font-size: 40px
}

.slide {
  margin-top: 50px;
  transform: translateY(2vh);

  transition: all 5s linear;

  @starting-style {
    transform: translateY(-100vh)

  }

}

#compPick {
  height: 200px;
  width: 200px;
}

#userPick {
  height: 200px;
  width: 200px;
}

.btn {
  border: none;
}