@font-face {
  font-family: starwars;
  src: url("fonts/starjedi/Starjedi.ttf");
}

h1 {
  font-family: 'starwars';
}

#placeholder {
  height: 200px;
  width: 200px;
}

#hearts {
  height: 20px;
  width: 20px;
}